@import '../../styles/utils';

.ContactLinks {
  width: 100%;

  @include onDesktop {
    max-width: max-content;
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    @include onDesktop {
      gap: 14px;
    }

    @include onLargeScreen {
      gap: 24px;
    }
  }

  &__link {
    @include square(38px);
    color: $color-gray-dark;
    font-size: 20px;
    border-radius: 50%;
    background-color: $color-gray-medium;
    transition: $transition;

    &:hover,
    &:active {
      background-color: $color-white;
    }

    &--google {
      font-size: 16px;

      @include onDesktop {
        font-size: 28px;
      }
    }

    & i {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include onDesktop {
      @include square(42px);
      font-size: 23px;
    }

    @include onLargeScreen {
      @include square(66px);
      font-size: 36px;
    }
  }
}