@import '../../styles/utils';

.switch-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: auto;

  & .switch-outer {
    @extend %button-nav;
    
    padding: 0;
    position: relative;
    width: 94px;

    @include onDesktop {
      width: 150px;
    }

    & input[type="checkbox"] {
      opacity: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: absolute;
    }

    & .button-toggle {
      position: absolute;
      top: 0;
      border-radius: $border-radius-btn;
      opacity: $opacity;

      width: 51px;
      height: 46px;

      background-color: $color-black-opacity;

      -webkit-transition: left 0.3s ease-in;
      -o-transition: left 0.3s ease-in;
      transition: left 0.3s ease-in;

      &--left {
        left: 0;
      }

      &--right {
        right: 0;
      }

      @include onDesktop {
        width: 80px;
        height: 60px;
      }
    }

    & .button-lang {
      height: 100%;
      width: 50%;
      text-transform: uppercase;
      cursor: pointer;

      position: relative;

      &--en {
        left: 2px;
      }

      &--de {
        right: 2px;
      }
    }
  }
}