@mixin onTablet {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onLargeScreen {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin grid {
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(2, 1fr);

  // @include onTablet {
  //   grid-template-columns: repeat(6, 1fr);
  //   column-gap: 20px
  // }

  @include onDesktop() {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }
}

@mixin square ($size) {
  width: $size;
  height: $size ;
}

@mixin addGradient ($delay) {
  @extend %gradient-text;

  animation: gradient-animation 12s ease-in-out infinite;
  animation-delay: $delay;
  background-size: 400% 100%;
}