
@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onTabletDevice {
  @media (min-width: 910px) and (max-width: 1030px) and (min-height: 1025px) and (max-height: 1370px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onLargeScreen {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin grid {
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(2, 1fr);

  // @include onTablet {
  //   grid-template-columns: repeat(6, 1fr);
  //   column-gap: 20px
  // }

  @include onDesktop() {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }
}

@mixin square ($size) {
  width: $size;
  height: $size ;
}

@mixin addGradient ($delay) {
  @extend %gradient-text;

  animation: gradient-animation 12s ease-in-out infinite;
  animation-delay: $delay;
  background-size: 400% 100%;
}


@mixin shrink-header($height) {
  @keyframes sticky-parallax-header-move-and-size {
    from {
      height: 100vh;
      min-height: 100vh;
      transform: scale(1);
      margin-top: 0;
      border-radius: 0;
      z-index: 10;
    }

    to {
      background-color: $color-gray-dark;
      height: $height;  
      min-height: $height;
      transform: scale(0.9);
      margin-top: 40px;
      z-index: 10;
      border-radius: 54px;
    }
  }
}