$color-black: #00000f;
$color-white: #ffffff;
$color-gray-dark: #252525;
// $color-gray-beige: #f0eae7;
// $color-gray-light: #f1f1f1;
// $color-secondary: #399837;
// $color-secondary-blue: #0177d2;

