$color-black: #000000;
$color-black-opacity: rgba(0, 0, 0, 0.3);
$color-black-opacity-hover: rgba(0, 0, 0, 0.4);
$color-white: #ffffff;
$color-gray-dark: #252525;
$color-gray-medium: #525252;
$color-gray-light: #aeaeae;


$border-radius-btn: 53px;
$opacity: 30%;
