@import '../../styles/utils';

.Navigation {
  display: flex;
  justify-content: center;
  gap: 14px;

  &__btn { 
    @extend %button-nav;

    display: flex;
    justify-content: center;
    align-items: center;   
  }
}