@import '../../styles/utils';

.ContactForm {

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include onDesktop {
        flex-direction: row;
      }
    }

  &__input {
    font-size: 18px;
    max-width: 350px;
    width: 100%;
    height: 46px;
    border: none;
    border-radius: $border-radius-btn;
    background-color: $color-white-opacity;
    color: $color-gray-dark;
    box-sizing: border-box;
    padding: 10px 10px 10px 20px;
    margin-bottom: 28px;
    outline: none;

    &::placeholder {
      color: $color-gray-dark;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: $color-gray-dark;
      transition: $transition;
    }

    @include onDesktop {
      margin-bottom: 0;
      margin-right: 20px;
      width: 406px;
    }
  }

  &__button {
    @extend %button-light;
  }

}

.Toastify {
  &__toast {
    min-height: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: max-content;
    border-radius: $border-radius-btn;
    background-color: $color-white-opacity;
  }

  &__close-button {
    display: none;
  }
}
