@import '../../styles/utils';

.Header {

  &__content,
  &__visualContent,
  &__textContent {
    height: 100vh;
  }

  &__content {
    position: relative;
  }

  &__textContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &-inner {
      height: 100%;
      box-sizing: border-box;
      padding: 60px 20px 36px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include onDesktop {
        padding: 84px 120px;
      }
    }
  }

  &__title {
    @extend %headline-h1 ;
  }

  &__nav {
    margin-bottom: 14px;
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }

  &__connect-btn {
    @extend %button-nav;
    height: max-content;
  }
}