@import '../../styles/utils';

.Header {

  &__content,
  &__visualContent,
  &__textContent {
    height: 100%;
  }

  &__content {
    position: relative;
  }

  &__textContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &-inner {
      height: 100%;
      box-sizing: border-box;
      padding: 60px 20px 36px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include onDesktop {
        flex-direction: row;
        padding: 28px 120px 64px;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;

    @include onDesktop {
      height: 100%;
    }
  }

  &__top,
  &__actions {
    @include onDesktop {
      display: flex;
      flex-direction: column;
      justify-content: space-between
    }
  }

  &__nav {
    margin-bottom: 14px;

    @include onDesktop {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__title {
    @extend %headline-h1 ;
    max-width: 460px;

    @include onDesktop {
      max-width: 550px;
    }
  }

  &__logo {
    margin-bottom: 10px;
  }

  &__connect-btn {
    @extend %button-nav;

    display: flex;
    justify-content: center;
    align-items: center;   

    // height: max-content;
  }


}