@import '../../styles/utils';

.Footer {
  min-height: 700px;

  @include onDesktop {
    min-height: 300px;
  }

  &__content {
    text-align: center;
    padding: 170px 0 80px;
    position: relative;

    @include onDesktop {
      position: relative;
      text-align: start;
      padding-top: 64px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & .col:nth-child(2) {
      @include onDesktop {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }


  &__subtitle {
    font-weight: 300;
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 34px;

    @include onDesktop {
      margin-bottom: 24px;
    }
  }

  &__title,
  &__subtitle {
    @include onDesktop {
      font-size: 16px;
      line-height: 36px;
    }

    @include onLargeScreen {
      font-size: 22px;
    }
  }

  & .Logo {
    width: 34px;
    height: 38px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    @include onDesktop {
      transform: none;
      position: static;
    }

    @include onLargeScreen {
      width: 50px;
      height: 64px;
    }
  }

  & .ContactForm {
    margin-bottom: 120px;

    @include onDesktop {
      margin-bottom: 32px;
    }
  }


  & .ContactLinks {
    margin: 0 auto;
    margin-bottom: 24px;

    @include onDesktop {
      margin: 0;
    }
  }
}