@import './styles/_utils.scss';
@import './font.scss';

body {
  overflow-x: hidden;
  padding-top: env(safe-area-inset-top); /* This ensures the content starts below the status bar */
}

img {
  user-drag: none;
  -webkit-user-drag: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.App {
  font-family: 'NeueMontreal', sans-serif;
  font-weight: 400;
  background-color: $color-gray-dark;
  color: $color-white;
}