@import './styles/_utils.scss';
@import './font.scss';

body {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.App {
  font-family: 'NeueMontreal', sans-serif;
  font-weight: 400;
  background-color: $color-gray-dark;
  color: $color-white;
}

